.App{
    width: 500px;
    margin: 24px auto;
}
.add_container{
    background-color: #897BDA;
    padding: 18px 24px;
    border-radius: 16px;
    color: white;
    margin-bottom: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.add_button{
    background-color: purple;
    width: fit-content;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.main_container{
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 18px 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}